.first_containt {
    background: url("../images/1.jpg");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    font-weight: bold;
}
.fourth_containt {
    height: 852px;
}
.blog_background{
    background: url("../images/7.jpg");
}
.text1_welcome {
    color: rgb(171, 171, 171);
    text-align: center;
}

a {
    color: white;
}

h1 span {
    color: rgb(241, 153, 20);
}
h1 .net {
    font-weight: 800;
    color: white;
}

.text_header {
    text-align: center;
}

ul li a {
    padding-top: 20px;
}

.navigation {
    padding-top: 20px;
    color: white !important;
    background-color: inherit!important;
}

.row_2 {
    text-align: center;
}
.carou{
    height: 300px;
}
.navigation2 {
    color: white !important;
    background-color: inherit!important;
    
}
.nav-haut{
    background-color: inherit !important;
    color: white !important;
    border: none !important;
}
.ligne{
    border-bottom: 1px solid rgb(162, 167, 173);
}
.navigation2:hover{
    background-color: inherit;
    border-bottom:2px solid rgb(241, 153, 20) ;
}
 a:hover{

    color: rgb(241, 153, 20) !important;
}
button:hover{
    display: inline;
}

/* .button {
    background-color: rgb(241, 153, 20);
    border: none;
    width: 55px;
    height: 3px;
    position: relative;
    top: 7px;
    left: 7px;
} */



.welcome {
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
}

.About_Us {
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
}

.Our_Services {
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
    
}
.services{
    height: 800px;
}

.News_n_Events {
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
}
.Client_feedback{
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
    
}

.Our_Blog {
    text-align: center;
    color: rgb(241, 153, 20);
    padding: 30px;
    font-size: 60px;
}

.list_about_us {
    list-style-type: none;
    color: rgb(171, 171, 171);
    line-height: 30px;
    margin-left: -40px;
}
.list_our_service {
    position: relative;
    top: -450px;
    list-style-type: none;
    color: rgb(171, 171, 171);
    line-height: 30px;
    margin-left: -25px;
}

.title_1 {
    font-weight: 1000;
    font-size: x-large;
}

.title_2 {
    font-weight: 1000;
    font-size: large;
    margin-left: 20px;
}

.third_img {
    width: 500px;
}
.third_img_1 {
    width: 500px ;
    display: none !important;
}
.img_right_side{
    width: 270px;
    position: relative;
    top: -480px;
    margin-left: 15px;
}
.text_right_side{
    position: relative;
    top: -460px;
    width: 250px;
    margin-left: 14px;
}

.img_fourth_containt {
    width: 160px;
    height: 80px;
    margin-left: 130px;
    border: 2px solid rgb(234, 234, 234);
}

.link_fourth_containt {
    margin-left: 130px;
    color: rgb(241, 153, 20);
    
}
.our_sercice_right{
    border: 5px solid rgb(234, 234, 234);
    height: 500px;
    width: 300px;
    
}

.text_fourth_containt {
    margin-left: 130px;
    width: 200px;
    color: rgb(171, 171, 171);

}
.text2_fourth_containt {
  margin-left: 20px;
  color: rgb(171, 171, 171);

}
.text1_fourth_containt {
    color: rgb(171, 171, 171);
  
}
.text1_our_blog{
    color: white;
    font-weight: 800;
    font-size: xx-large;
}
.text2_our_blog{
    color: white;
    font-weight: 400;
}
#text1 {
    margin-left: 142px;
}

.background_icon {
    background-color: rgb(171, 171, 171);
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-top: -50px;
}

.panneau_gauche {
    border: 5px solid rgb(171, 171, 171);
    height: 550px;
    width: 400px;
    margin-left: 210px;
    margin-top: -50px;
}


/* .img_right_side {
    width: 100px;
    height: 120px;
} */
.block_3{
    background-color:rgb(234, 234, 234); 
    height: 580px;
}

.icon_position {
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    width: 100px !important;
    height: 100px !important;
}
.text_icon{
    margin-left: 60px;
    font-weight: bold;
}

.background_icon {
    margin-left: 80px;
}
/* .petit{
    margin-top: 10px;
} */
.block_seven1 {
    margin-left:15px ;
    border: 5px solid rgb(234, 234, 234);
    height: 485px;
}

.block_seven2 {
    
    border: 5px solid rgb(234, 234, 234);
    height: 485px;
}

.block_seven3 {
    margin-left:15px ;
    border: 5px solid rgb(234, 234, 234);
    height: 485px;
}

.img_newsevents {
    width: 220px;
    margin-top: 13px;
    margin-left: -5px !important;
}

.title_nevents {
    font-weight: 800;
}

.block_nevents {
    border: 2px solid black !important;
    width: 90px;
}
.block_10_1{
    height: 42px;
    width: 500px;
    background-color: rgb(171, 171, 171);
    border: none;
}
.block_10_2{
    /* width: 200px; */
    background-color: rgb(241, 153, 20);
    height: 42px;
    border: none;
    color: white;
}
.block_12{
    height: 250px;
    /* width: 1349; */
    background-image: url("../images/7.jpg");
}

.icon_12{
    color: white;
    padding: 10px;
}
.p_12{
    color: white;
    font-weight: bold;
}
.line_12{
    width: 55px;
}
.map_size{
    height: 250px;
}
@media screen and (max-width:768px){
    .block_11 {
        margin-top: 60px;
    }
    .block_10_1{
        width: 250px;
    } 
    .third_img {
        width: 500px;
        display: none !important;
    }
    .third_img_1 {
        width: 500px ;
        display:block !important;
        margin-left:-20px !important;
    }
    .img_2{
        width: 180px !important;
        margin-left: -5px;
    }
    .img_2_1{
        width:180px !important;
        margin-left: 180px !important;
        margin-top: -130px !important;

    }
    .img_fourth_containt {
        width: 80px;
        height: 80px;
        margin-left: 30px;
        border: 2px solid rgb(234, 234, 234);
        
    }
    .link_fourth_containt {
        margin-left: -80px;
        position: relative;
        top: 50px;
        color: rgb(241, 153, 20);
        
        
    }
    .text_fourth_containt {
        margin-left: 10px;
        position: relative;
        top: 10px;
        width: 150px;
        color: rgb(171, 171, 171);
        
    }
    .fourth_containt{
        float:right;
    }
    .services{
        height: 800px;
        display: none;
    }
    
}
@media screen and (min-width:768px) and (max-width:992px){
    .block_11 {
        margin-top: 20px;
    } 
    .third_img {
        width: 500px;
        display: none !important;
    }
    .third_img_1 {
        width: 500px ;
        display: block !important;
        margin-left:-15px !important;
    }
    .block_3_1{
        margin-left: 180px !important;
    }
    .block_3{
        margin-left: -70px !important;
        height: 820px !important;
    }
    .img_newsevents{
        width: 160px;
    margin-top: 13px;
    }
    .img_right_side{
        width: 270px;
        position: relative;
        top: -480px;
        margin-left: 40px;
    }
    .icon_position {
        color: white;
        margin-top: 25px;
        margin-left: 24px;
        /* width: 100px !important; */
        /* height: 100px !important; */
    }
    .background_icon {
        margin-left: -10px;
    }
    .text_icon{
        margin-left: -4px;
        font-weight: bold;
    }
    .petit{
        margin-top: 18px;
    }
    .img_2_1{
        /* width:180px !important; */
        /* margin-left: 180px !important; */
        margin-top: 0px !important;

    }
}
    


